absl-py==0.9.0
advancedhttpserver==2.2.0
aiodns==2.0.0
aiohttp==3.6.2
ajpy==0.0.4
alembic==1.0.11.dev0
aniso8601==8.0.0
ann-visualizer==2.5
apparmor==2.13.3
appdirs==1.4.3
argh==0.26.2
asn1crypto==0.24.0
astor==0.8.1
async-timeout==3.0.1
attrs==18.2.0
autobahn==17.10.1
automat==0.6.0
babel==2.6.0
backdoor-factory==0.0.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
binwalk==2.2.0
black==19.10b0
bleach==3.1.0
blessings==1.7
blinker==1.4
blis==0.4.1
boltons==19.1.0
bottle==0.12.15
brotli==1.0.7
bs4==0.0.1
cairocffi==0.9.0
capstone==3.0.5
catalogue==1.0.0
cbor==1.0.0
cerberus==1.2
certifi==2019.11.28
cffi==1.13.2
chameleon==3.6.2
chardet==3.0.4
click-plugins==1.1.1
click==7.0
colorama==0.4.3
configobj==5.0.6
configparser==4.0.2
constantly==15.1.0
crcelk==1.3
cryptography==2.6.1
ctypescrypto==0.5
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.3
cython==0.29.14
dbus-python==1.2.14
decorator==4.3.0
defusedxml==0.6.0
deprecation==2.0.7
dhcpig==0.0.0
dicttoxml==1.7.4
distro==1.3.0
django==1.11.27
dnslib==0.9.12
dnspython==1.16.0
docker-pycreds==0.4.0
docopt==0.6.2
easyprocess==0.2.5
ecdsa==0.14.1
email-validator==1.0.3
entrypoints==0.3
faraday-plugins==1.0rc1
faradaysec==3.10.0
feedparser==5.2.1
ffmpeg-python==0.2.0
filedepot==0.5.2
filteralchemy==0.1.0
flask-babelex==0.9.3
flask-classful==0.14.1
flask-httpauth==3.2.4
flask-kvsession==0.6.2
flask-login==0.4.1
flask-mail==0.9.1
flask-principal==0.4.0
flask-restless==0.17.0
flask-security==3.0.0
flask-session==0.3.1
flask-sqlalchemy==2.4.0
flask-wtf==0.14.2
flask==1.1.1
fleep==1.0.1
future==0.16.0
fuzzywuzzy==0.17.0
gast==0.3.3
gdal==2.4.3
geoip2==2.9.0
geoip==1.3.2
geojson==2.5.0
gevent==1.4.0
gitdb2==2.0.6
gitpython==3.0.5
goofile==1.6
google-pasta==0.1.8
google==2.0.2
gpg==1.13.1-unknown
gql==0.2.0
graphene-sqlalchemy==2.1.2
graphene==2.1.7
graphql-core==1.1
graphql-relay==2.0.0
graphviz==0.13.2
greenlet==0.4.15
grequests==0.4.0
grpcio==1.26.0
gssapi==1.4.1
h11==0.8.1
h2==3.0.1
h5py==2.10.0
hashid==3.1.4
hpack==3.0.0
html2text==2019.8.11
html5lib==1.0.1
httplib2==0.11.3
hupper==1.9.1
hyperframe==5.2.0
hyperlink==19.0.0
icalendar==4.0.3
idna==2.6
ifaddr==0.1.6
impacket==0.9.20
importlib-metadata==1.5.0
incremental==16.10.1
inexactsearch==1.0.2
inquirer==2.6.3
ipy==1.0
ipykernel==5.1.3
ipython-genutils==0.2.0
ipython==5.8.0
ipywidgets==6.0.0
itsdangerous==0.24
jinja2==2.10.1
joblib==0.14.1
jsonschema==2.6.0
jupyter-client==5.3.4
jupyter-core==4.6.1
kaitaistruct==0.8
keras-applications==1.0.8
keras-models==0.0.7
keras-preprocessing==1.1.0
keras==2.3.1
keyring==18.0.1
keyrings.alt==3.2.0
kismetcapturefreaklabszigbee==2018.7.0
kismetcapturertl433==2019.9.1
kismetcapturertladsb==2019.10.1
kismetcapturertlamr==2019.10.1
kismetexternal==2019.12.1
kiwisolver==1.0.1
ldap3==2.5.1
ldapdomaindump==0.9.1
libapparmor==2.13.3
libarchive-c==2.9
logutils==0.3.3
lxml==4.4.1
lz4==3.0.2+dfsg
mako==1.0.7
markdown==3.1.1
markupsafe==1.1.0
marshmallow-sqlalchemy==0.19.0
marshmallow==3.0.0b3
mate-menu==19.10.2
mate-tweak==19.10.4
matplotlib==3.1.2
maxminddb==1.4.1
mechanize==0.4.3
meld==3.20.1
mimerender==0.6.0
mistune==0.8.4
mitmproxy==4.0.4
msgpack==0.5.6
multidict==4.7.3
murmurhash==1.0.2
mutagen==1.40.0
mysql==0.0.2
mysqlclient==1.4.4
nassl==2.2.0
nbconvert==5.6.0
nbformat==4.4.0
netaddr==0.7.19
networkx==2.2
nltk==3.4.5
nose==1.3.7
notebook==6.0.2
nplusone==1.0.0
numpy==1.17.4
nvidia-ml-py3==7.352.0
nyx==2.1.0
olefile==0.46
onboard==1.4.1
onioncircuits==0.6
onionshare==2.2
opencv-python==4.1.2.30
opendrop==0.11.0
packaging==19.1
pandas==0.25.3
pandocfilters==1.4.2
paramiko==2.6.0
parsero==0.82
passlib==1.7.1
paste==3.2.3
pastedeploy==2.0.1
pastescript==2.0.2
patator==0.7
pathlib==1.0.1
pathspec==0.7.0
pathtools==0.1.2
pefile==2019.4.18
pexpect==4.6.0
pickleshare==0.7.5
pillow==6.2.1
pip==19.3.1
pipreqs==0.4.10
plac==1.1.3
plaster-pastedeploy==0.5
plaster==1.0
plecost==1.1.2
plotly==4.4.1
pluginbase==1.0.0
ply==3.11
preshed==3.0.2
prettytable==0.7.2
prometheus-client==0.7.1
promise==2.2
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.6.7
psycopg2==2.8.4
py-ubjson==0.14.0
pyasn1-modules==0.2.1
pyasn1==0.4.2
pycairo==1.16.2
pycares==3.1.0
pycountry==19.8.18
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.6.1
pycups==1.9.73
pycurl==7.43.0.2
pydot==1.4.1
pyenchant==2.0.0
pygments==2.3.1
pygobject==3.34.0
pyinotify==0.9.6
pymongo==3.7.1
pymssql==2.1.4
pynacl==1.3.0
pynvim==0.4.0
pyodbc==4.0.22
pyopengl==3.1.0
pyopenssl==19.0.0
pyotp==2.3.0
pyparsing==2.4.2
pypcapfile==0.12.1
pyperclip==1.7.0
pypng==0.0.20
pyqrcode==1.2.1
pyqt5==5.13.2
pyqtgraph==0.11.0rc0
pyramid==1.10.4
pyserial==3.4
pysimplesoap==1.16.2
pysmbc==1.0.15.6
pysmi==0.3.2
pysnmp==4.4.6
pysocks==1.7.1
python-apt==1.8.4.1
python-dateutil==2.7.3
python-debian==0.1.36
python-debianbts==2.8.2
python-editor==1.0.4
python-levenshtein==0.12.0
python-libnmap==0.7.0
python-magic-ahupp==0.4.13
python-magic==0.4.16
python-memcached==1.58
python-mimeparse==1.6.0
python-pam==1.8.4
python-snappy==0.5.3
python-xlib==0.23
pytrie==0.2
pytz==2019.3
pyusb==1.0.2
pyvirtualdisplay==0.2.1
pyxattr==0.6.1
pyxdg==0.26
pyyaml==5.2
pyzmq==17.1.2
qrcode==6.1
qtpy==1.3.1
readchar==2.0.1
redis==3.3.11
regex==2020.1.8
reportbug==7.5.3
repoze.lru==0.7
requests-file==1.4.3
requests-futures==1.0.0
requests-toolbelt==0.9.1
requests==2.22.0
retrying==1.3.3
rfcat==1.0.1
ruamel.yaml==0.15.89
rule-engine==1.1.0
rx==1.6.1
scapy==2.4.3
scikit-learn==0.22.1
scipy==1.3.3
seaborn==0.9.0
secretstorage==2.3.1
selenium==4.0.0a1
send2trash==1.5.0
sentry-sdk==0.14.0
service-identity==18.1.0
setproctitle==1.1.10
setuptools==41.2.0
shodan==1.21.1
shortuuid==0.5.0
silpa-common==0.3
simplegeneric==0.8.1
simplejson==3.16.0
simplekv==0.13.0
sip==4.19.20
six==1.13.0
smmap2==2.0.5
smoke-zephyr==1.4.1
sortedcontainers==2.1.0
soundex==1.1.3
soupsieve==1.9.5
spacy==2.2.3
speaklater==1.3
speedtest-cli==2.1.2
spellchecker==0.4
sqlalchemy-schemadisplay==1.3
sqlalchemy==1.3.12
sqlparse==0.2.4
srsly==1.0.1
sslyze==2.1.4
stem==1.8.0
subprocess32==3.5.4
syslog-rfc5424-formatter==1.2.2
tabulate==0.8.2
tempita==0.5.2
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow==1.14.0
termcolor==1.1.0
terminado==0.8.2
termineter==1.0.4
testpath==0.4.4
textblob==0.15.3
texttable==1.6.2
theharvester==3.1.0
thinc==7.3.1
tld==0.9.1
tls-parser==1.2.1
toml==0.10.0
torbrowser-launcher==0.3.2
tornado==5.1.1
torrequest==0.1.0
tqdm==4.30.0
traitlets==4.3.3
translationstring==1.3
twisted==19.7.0
txaio==2.10.0
typed-ast==1.4.1
tzlocal==2.0.0b2
u-msgpack-python==2.1
ufw==0.36
unicodecsv==0.14.1
unidecode==1.1.1
urllib3==1.25.6
urwid==2.0.1
vboxapi==1.0
venusian==1.2.0
video-to-ascii==1.2.8
vinetto==0.8.0
wafw00f==2.0.0
waitress==1.4.1
wandb==0.8.21
wapiti3==3.0.2
wasabi==0.6.0
watchdog==0.9.0
wcwidth==0.1.7
webargs==5.1.2
webencodings==0.5.1
webob==1.8.5
websocket-client==0.53.0
webtest==2.0.32
werkzeug==0.16.0
wfuzz==2.4
wheel==0.33.6
widgetsnbextension==2.0.0
wifite==2.5.0
wrapt==1.11.2
wsaccel==0.6.2
wsproto==0.11.0
wtforms==2.2.1
xcffib==0.8.1
xlsxwriter==1.1.2
xtermcolor==1.3
yara-python==3.10.0
yarg==0.1.9
yarl==1.4.2
yaswfp==0.9.3
youtube-dl==2020.1.15
zeroconf==0.24.4
zipp==2.1.0
zope.component==4.3.0
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.6.0